<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    	<h1>This is working!</h1>
    	<h1>When you can see this, Pablo has successfully connected his Eclipse IDE to GitLab! :) </h1>
    	
</body>
</html>