<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
</html>

<h1>Herzlich Willkommen in Ihrem IT Sicherheits Assistenten. </h1>
<div class="nav-item" th:class="${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" th:href="@{/login}">Hier gehts zum Login</a>
    <a class="nav-link" th:href="@{/register}">Hier gehts zur Registrierung</a>
</div>

</body>
</html>