<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<p>Infrastructure Submitted. Recommendation page successfully loaded.</p>

    <form id="deleteForm" action="/delete" method="post">
        <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" placeholder="username" required>
        <button type="submit">Meine Daten löschen</button>
    </form>
</body>
</html>