<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<h1>Success. Das sind Ihre Eingaben:</h1>
    <p th:text="'Firmenname: ' + ${companyName}">Anzahl an PCs:</p>
    <p th:text="'Mitarbeiterzahl: ' + ${employeeNR}">Firewall:</p>
    <p th:text="'Branche: ' + ${branche}">Anzahl an PCs:</p>
    <p th:text="'Region: ' + ${region}">Firewall:</p>
    <p th:text="'Passwortänderungen: ' + ${pwChange}">Passwortänderungen:</p>
    <p th:text="'Passwortanforderungen: ' + ${pwProperties}">Passwortanforderungen:</p>
    <p th:text="'Mitarbeitertrainings: ' + ${trainings}">Mitarbeitertrainings:</p>
    <p th:text="'Backups: ' + ${backup}">Backups:</p>
    <p>usw.</h2>
    <div class="nav-item">
        <a class="nav-link" th:href="@{/recommendation}">Hier gehts zu Ihren Empfehlungen</a>
    </div>
</body>
</html>