<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<h1>Success. Das sind Ihre Eingaben:</h1>
    <h2 th:text="'Anzahl an PCs: ' + ${PCAnzahl}">Anzahl an PCs:</h2>
    <h2 th:text="'Password Policy: ' + ${PasswordPolicy}">Password Policy:</h2>
    <h2 th:text="'Eigener Server: ' + ${Server}">Anzahl Server:</h2>
    <h2 th:text="'Firewall: ' + ${Firewall}">Firewall:</h2>

    <a></a>
</body>
</html>